body {
    background-color: black;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: 5px;
    font-size: 18px;
}